/* Css for home page */

/* To import the colors of the brand */
@import "../utility/colors.css";

.Home{
     text-align: center;
     margin-top: 2em;
}
.Home-head{
     font-size: 200%;
     font-weight: bold;
     color: var(--primary);
     text-align: center;
}
.home-image{
     margin-top: 9%;
     width: 80%;
     height: 80%;
}
.tagline{
     font-size: xx-large;
     font-weight: bold;
     color: var(--primary);
}

.homePage{
     height: max-content;
     color: var(--primary);
    
}
.homeText{
    margin-top: 12%;
     font-weight: bold;
     font-size: larger;
}
.text{
     margin-top: 9%;
     
}
.teamIcon{
     margin-right: 0;   
}
.home-btns{
     margin-top: 15%;
     margin-left: 0;
     
}
.btn-outline Button{
     background-color: transparent;
     border: 2px solid var(--primary);
     color: var(--primary);
     border-radius: 10px;
     font-weight: bolder;
}

.btn-outline Button:hover{
     background-color: var(--primary);
     color: white;
     border: 2px solid var(--primary);
     
}

.btn-fill Button{ 
     border-radius: 10px;
     background-color: var(--primary);
     color: white;
     border: 2px solid var(--primary);
     font-weight: bolder;
}
.btn-fill Button:hover{ 
     background-color: var(--secondary);
     border: 2px solid var(--secondary);
}
.btn-fill Button:active + .btn-outline Button:active{
     background-color: var(--secondary);

}
/* Startup view on homepage */
.home-startup{
     margin: 10% auto;
     border-radius: 20px;
}
.counter{
     font-size: xx-large;
     font-weight: bold;
}
.margin-top{
     margin-top: 10%;
}
.underText{
     font-size: small;
     color: black;
     font-weight: bold;
}
.center{
     margin: auto;
     text-align: center;
}


/* Css for Loading home screen */

.Load{
     margin: 40vh auto;
     text-align: center;
}

.load-animation{
     margin: auto;
}