/* Css for home page */

/* To import the colors of the brand */
@import "../utility/colors.css";

.Home{
     text-align: center;
     margin: 2em 0 0 0 0;
}
.Home-head{
     font-size: 200%;
     font-weight: bold;
     color: var(--primary);
     text-align: center;    
}


.tagline{
     font-size: xx-large;
     font-weight: bold;
     color: var(--primary);
}
.homePage{
     height: max-content;
     color: var(--primary);
     margin: 0;
}
.homeText{
    margin-top: 15%;
     font-weight: bold;
     font-size: larger;
}
.text{
     margin: 9% 0 0 0;
}

.home-btns{
     /* margin-top: 15%; */
     margin: 15% 0 0 0;
}
.home-btns .btn-fill Button, .home-btns .btn-outline Button{
     width: max-content;
}
.btn-outline Button{
     background-color: transparent;
     border: 2px solid var(--primary);
     color: var(--primary);
     border-radius: 10px;
     font-weight: bolder;
}

.btn-outline Button:hover{
     background-color: var(--secondary);
     color: white;
     border: 2px solid var(--secondary);
     
}

.btn-fill Button{ 
     border-radius: 10px;
     background-color: var(--primary);
     color: white;
     border: 2px solid var(--primary);
     font-weight: bolder;
}
.btn-fill Button:hover{ 
     background-color: var(--secondary);
     border: 2px solid var(--secondary);
}
.btn-fill Button:active + .btn-outline Button:active{
     background-color: var(--secondary);
}

.teamIcon{
     margin: auto; 
}
.home-image{
     margin-top: 9%;
     width: 92%;
     padding: 0;
     margin-right: 0;
}

/* Startup view on homepage */
.home-startup{
     padding: 1em;
     margin: 10% auto;
     /* border-radius: 8px; */

     background-color: var(--accent);
}
.counter{
     font-size: xx-large;
     font-weight: bold;
}
.margin-top{
     margin-top: 10%;
}
.underText{
     font-size: small;
     color: black;
     font-weight: bold;
}
.center{
     margin: auto;
     text-align: center;
}
.shad:hover{
     background: #D3E2ED !important;
     box-shadow:  -12px 12px 24px #b3c0c9,
                  6px -6px 24px #f3ffff;
}

/* Css for Loading home screen */

.Load{
     margin: 40vh auto;
     text-align: center;
}

.load-animation{
     margin: auto;
}
.err-message{
     font-weight: bold;
     /* background-color: rgb(241, 34, 34); */
     color: red;
     /* border-radius: 2px; */
     width: fit-content;
     margin: auto;
     /* padding: 0 1em; */
}