/* Css for hoome page */

/* To import the colors of the brand */
@import "../utility/colors.css";

.about-team-image{
     height: 100%;
     width: 100%;
}
.heading{
     font-size: xx-large;
     font-weight: bold;
     color: var(--primary)
}
.about-content + .teambrief{
     margin-top: 5em;
}
.about-content{
     margin-bottom: 2em;
}
.teambrief{
     height: max-content;
}
.teamHead{
     font-weight: bold;
     color: var(--primary);
}
.team-container{
     border-radius: 10px;
     padding: 1em;
}
.team-container:hover{
     /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
     background-color: var(--accent);
}
#abt-avatar{
     border-radius: 10px;
     background-color: var(--primary);
     text-align: center;
     width: max-content;
     height: max-content;
     padding: 1em;
     display: inline-block;
}
#abt-avatar Person{
     margin: 0.3em;
}

Col{
     text-align: center;
}

