/* Css for hoome page */

/* To import the colors of the brand */
@import "../utility/colors.css";

.about-team-image{
     height: 100%;
     width: 100%;
}
.heading{
     font-size: xx-large;
     font-weight: bold;
     color: var(--primary)
}
.about-content + .teambrief{
     margin-top: 5em;
}
.teambrief{
     height: max-content;
}
.teamHead{
     font-weight: bold;
     color: var(--primary);
}
.team-container{
     border-radius: 10px;
}
.team-container:hover{
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


     /* box-shadow:
     0 2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06),
     0 22.3px 17.9px rgba(0, 0, 0, 0.072),
     0 41.8px 33.4px rgba(0, 0, 0, 0.086),
     0 100px 80px rgba(0, 0, 0, 0.12)
   ; */
}
#avatar{
     border-radius: 50%;
     background-color: var(--primary);
     text-align: center;
     width: max-content;
     height: max-content;
     padding: 1em;
     display: inline-block;
}
#avatar Person{
     margin: 0.3em;
}
Col{
     text-align: center;
}

