/* Css for profile page */

/* To import the colors of the brand */
@import "../utility/colors.css";
.load{
     margin: 0;
     position: absolute;
     top: 50%;
     left: 48%;
     color: var(--secondary);
     
}

.profile{
     color: var(--primary);
     text-align: center;
     overflow: auto;
}
.profile-head{
     font-size: xx-large;
     font-weight: bold;
     color: var(--primary);
}
.form{
     margin: 1em auto;
     font-weight: bold;
     text-align: center;
}
.form_box{
     height: max-content;
     background-color: var(--accent);
     border-radius: 20px;
}
.svgIcon{
     background-color: var(--primary);
     border-radius: 20px ;
}
.svgIcon-image{
    margin-top: 20%;
}
.form_items{
     background-color: transparent;
     font-size: medium;
     margin: .5em auto;
}
.form_items h2{
     font-weight: bold;
}
Form{
     text-align: left;
     margin: auto .5em;
     color: black;
}

.user_type{
     text-align: left;
}
.pass-eye{
    background: inherit;
    border: none;
}
.forgot{
     color: var(--primary);
     cursor: pointer;
}
.forgot:hover{
     border-bottom: 2px solid var(--primary);
}
.submit{
     text-align: center;
}
.submit Button{
     background-color: var(--primary);
     color: white;
     width: 100%;
     border: none ;
     font-weight: bold;
}
.submit Button:hover , .submit Button:focus, .submit Button:active{
     outline: none;
     background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.icons{
     color: white;
     height: 1em;
     width: 1em;
     margin: auto .25em;
}

.user_type{
     margin: 1em auto;
}
.inline{
     display: inline;
     margin: 0;
}


/* Css for Startup Form and Investor form*/
.required{
     color: red;
     font-size: large;
}
.form{
     width: 60%;
     height: max-content;
     border-radius: 10px;
     padding: 1em;
     color: var(--primary);
}
.form-input{
     height: 34px;
     width: 100%;
     border-radius: 3px;
     border: 1px solid transparent;
     border-top: none;
     border-bottom: 1px solid #DDD;
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.253), 0 -1px 1px #FFF, 0 1px 0 #FFF;
   }
Form{
     color: var(--primary);
}

.form-input:invalid{
     border: 1px solid red;
}

.google-signin{
     height: 2em;
     width: fit-content;
     background-color: var(--primary);
     border-radius: 10px ;
     color: white;
     padding: .25em;
}
@media only screen and (max-width: 600px) {
     .form{
          width: 90%;
     }
     .svgIcon-image{
          margin-top: 0;
      }
}


/* Verify Email and LOading box */

.box_design{
     background-color: var(--accent);
     border-radius:20px;
     min-height: 30vh;
     min-width: 50vw;
     max-width: 60vw;
     margin: auto;
     padding: 1em;
     margin-top: 20vh;
}