/* Css for profile page */

/* To import the colors of the brand */
@import "../utility/colors.css";
.load{
     margin: 0;
     position: absolute;
     top: 50%;
     left: 48%;
     color: var(--secondary);
     
}

.profile{
     color: var(--primary);
     text-align: center;
     overflow: auto;
}
.profile-head{
     font-size: xx-large;
     font-weight: bold;
     color: var(--primary);
}
.form{
     margin: 1em auto;
     font-weight: bold;
     text-align: center;
}
.form_box{
     height: max-content;
     background-color: var(--accent);
     border-radius: 20px;
}
.svgIcon{
     background-color: var(--primary);
     border-radius: 20px ;
}
.svgIcon-image{
    margin-top: 20%;
}
.form_items{
     background-color: transparent;
     font-size: medium;
     margin: .5em auto;
}
.form_items h2{
     font-weight: bold;
}
Form{
     text-align: left;
     margin: auto .5em;
     color: black;
}

.user_type{
     text-align: left;
}
.pass-eye{
    background: inherit;
    border: none;
}
.forgot{
     color: var(--primary);
     cursor: pointer;
}
.forgot:hover{
     border-bottom: 2px solid var(--primary);
}
.submit{
     text-align: center;
}
.submit Button{
     background-color: var(--primary);
     color: white;
     width: 100%;
     border: none ;
     font-weight: bold;
}
.submit Button:hover , .submit Button:focus, .submit Button:active{
     outline: none;
     box-shadow: none;
     background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.icons{
     color: white;
     height: 1em;
     width: 1em;
     margin: auto .25em;
}

.user_type{
     margin: 1em auto;
}
.inline{
     display: inline;
     margin: 0;
}


/* Css for Startup Form and Investor form*/
.required{
     color: red;
     font-size: large;
}
.form{
     width: 60%;
     height: max-content;
     border-radius: 10px;
     padding: 1em;
     color: var(--primary);
}
.form-input{
     height: 34px;
     width: 100%;
     border-radius: 3px;
     border: 1px solid transparent;
     border-top: none;
     border-bottom: 1px solid #DDD;
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.253), 0 -1px 1px #FFF, 0 1px 0 #FFF;
   }
Form{
     color: var(--primary);
}

.form-input:invalid{
     border: 1px solid red;
}

.google-signin{
     height: 2em;
     width: fit-content;
     background-color: var(--primary);
     border-radius: 10px ;
     color: white;
     padding: .25em;
}



/* Verify Email and LOading box */

.box_design{
     /* border: 2px solid var(--primary); */
     background-color: var(--accent);
     border-radius:20px;
     min-height: 30vh;
     width: max-content;
     max-width: 50vw;
     margin: auto;
     padding: 1em;
     margin: 10vh auto 2em;
     text-align: center;
}
#no_disp{
     visibility: hidden;
}
.vemail-logo{
     height: max-content;
     width: max-content;
}

.vemail-head{
     margin-top: 1em;
     font-weight: bold;
     font-size: large;
     text-align: center;
}
.vemail-body{
     font-size: small;
     margin: 1em auto;
}
.vemail-link{
     font-weight: bold;
}
.vemail-codes{
     width: fit-content;
     margin: 2em auto;
     /* border: 2px solid var(--primary); */
     text-align: center;
}
.vemail-input{
     outline: none;
     border: none;
     text-align: center;
     font-weight: bold;
     font-size: x-large;
     color: var(--primary);
     border-radius: 5px;

     /* Add the effect */
     /* box-shadow: none;
     background: #d3e2edde ;
     box-shadow:  -6px 6px 12px #b3c0c9d5,
                  3px -3px 12px #f3ffffce; */
}
/* .vemail-input:focus {
     box-shadow: none;
     border: none;
     outline: none;
     background-color: white;
} */
.vemail-alt{
     margin: 3em auto .1em;
     text-align: left;
     font-size: small;
}
.vemail-resend{
     font-weight: bold;
     text-transform: uppercase;
     cursor: pointer;
}
/* To remove the arrow in a number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 600px) {
     .form{
          width: 90%;
     }
     .svgIcon-image{
          margin-top: 0;
      }
      .vemail-logo{
          /* height: 100%; */
          width: 30%;
     }
     .vemail-input{
          font-size: large;
     }
     .box_design{
          max-width: 80vw;
     }
    
}