/* Css for navbar */

/* To import the colors of the brand */
@import "../utility/colors.css";

.navigation{
     /* background-color: white !important; */
     /* background: transparent !important; */
     margin-bottom: 0;;

     background: rgba(255, 255, 255, 0.7) !important;
     backdrop-filter: saturate(180%) blur(10px) !important;

}
.nav-toggle{
     border: none;
}
.nav-toggle span{
     color: var(--primary) !important;
}

.Navlinks-active{
     border-bottom: 2px solid black;
}
.navitems{
     background-color: transparent;
}

.Navlinks{
     font-weight: bold;
     font-size: large;
     width: max-content;
     margin: auto .5em;
     color: var(--primary) !important;
}
.Navlinks:not(.quick-signin-nav){
     opacity: .7;
}
.Navlinks:hover:not(.quick-signin-nav){
     text-decoration: none;
     border-bottom: 3px solid var(--primary);
     opacity: 1;
     color: var(--primary) !important;
}

/* Set the active function, then give the nav from each link, if it is mounted */
.active{
     color: var(--secondary) !important;
     opacity: 1 !important;
}

.line-break{
     height: 100%;
     width: 1px;
     margin: 0;
     padding: 0;
     background-color: black;
     opacity: .5;
     
}
.quick-signin{
     background-color: var(--primary);
     border-radius:5px;
     padding:.25em 1em;
     color: white !important;
     font-weight: normal !important;
     font-size: medium !important;
     margin: auto;
     text-shadow: .5px .5px 1px var(--secondary);
}
.views{
     min-height: 81vh;
}

/* Style for mobile view only */
@media only screen and (max-width: 700px) {
     .Navlinks{
          margin-left: auto !important;
     }
}
