/* Css for footer page */

/* To import the colors of the brand */
@import "../utility/colors.css";
.footer{
     margin: 0;
     background-color: var(--primary);
     /* border-radius: 10px 10px 0 0; */
     color: var(--faded);
     position: relative;
     bottom: 0;
     width: 100%;
     font: small;
     height: fit-content;
     overflow-x: hidden;
     max-height: min-content;
     padding: .2em auto;
     padding-top: 1em;
 }


.links-head{
      font-size: medium;
      font-weight: bold;
      margin: 2em 0;
      /* text-align: center; */
 }
 .links-a-head{
      /* color: white; */
      font-weight: bold;
 }
 .footer-links{
      text-align: left;
      margin: .5em 0;
 }
 .footer-links ul{
      margin: auto;
      display: block;
      /* text-align: center; */
 }
 .footer-links ul li{
     text-decoration: none;
     list-style-type: none;
     margin: auto;
     cursor: pointer;

 }

.footer-text{
     margin-top: 1em;
     padding: 0;
     width: 100vw;
}



